:root {
  /* fonts */
  --font-open-sans: "Open Sans";
  --text-sm-bold: Lato;
  --font-inter: Inter;
  --font-roboto: Roboto;
  --montserrat-medium-14: Montserrat;

  /* font sizes */
  --font-size-xs: 8px;
  --text-sm-bold-size: 14px;
  --text-md-bold-size: 16px;
  --font-size-lg: 18px;
  --font-size-xl: 20px;
  --font-size-2xl: 22px;
  --font-size-3xl: 32px;

  /* Colors */
  --gray-50: #fff;
  --primary-color: #3282ad;
  --gray-300: #d0d0d0;
  --color-black: #000;
  --gray-600: #636363;
  --color-dimgray-200: #5a5a5a;
  --color-dimgray-300: #555;
  --color-gray-100: #8f8f8f;
  --color-gray-200: #222;
  --blackish-green: #112211;
  --color-darkslategray-100: #3a3a3a;
  --color-darkslategray-200: #333;
  --line: #a2a8ab;
  --dark-light-blue: #d2f4ff;

  /* Gaps */
  --gap-xs: 4px;
  --gap-sm: 8px;
  --gap-md: 16px;
  --gap-lg: 24px;
  --gap-xl: 32px;

  /* Paddings */
  --padding-3xs: 4px;
  --padding-2xs: 5px;
  --padding-xs: 8px;
  --padding-sm: 10px;
  --padding-md: 16px;
  --padding-lg: 24px;
  --padding-xl: 32px;
  --padding-2xl: 62px;

  /* border radiuses */
  --br-3xs: 1px;
  --br-2xs: 4px;
  --br-xs: 5px;
  --br-sm: 8px;
  --br-md: 15px;
  --br-lg: 24px;
  --br-xl: 25px;
  --br-2xl: 27px;
  --br-3xl: 44px;
}
